__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/

.ipynb_checkpoints/
tempCodeRunnerFile.py

results/
runs/
wandb/
checkpoints/
*.pth
*.pt
*.ckpt

ssrn-5030660.pdf
Untitled.ipynb

DCNv2/build/
dcn/
torch-cam/
tools/sync_crowded/

.DS_Store
Thumbs.db
tools/test.json
